.main-container {
    display: flex;
    flex-direction: column;
    background-color: tan;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.form-item {
    align-content: center;
    justify-content: center;
}

.form-item > input {
    width: 40%;
}

.form-item > label {
    display: inline-block; 
    width: 5%;
    text-align: right;
}

.product {
    font-size: 20px;
    color: red;
}